@{
    ViewData["Title"] = "Contact US";
}


<h2 >Please contact us on:</h2>
<br>
<p>Phone: 0838177558</p>
<p>Email: admin@gergarage.com</p>
<p>Address: 6 Eugene Street, Dublin 8 , MErchants Quays, Dublin</p>
<br>
<h2>Opening hours:</h2>
<br>
<p>Monday: 09:00-18:00</p>
<p>Tuesday: 09:00-18:00</p>
<p>Wednesday: 09:00-18:00</p>
<p>Thursday: 09:00-18:00</p>
<p>Friday: 09:00-18:00</p>
<p>Saturday: 10:00-17:00</p>
<p>Sunday: Closed</p>
